/* Sidebar */

body {
    background-color: #fafafa;
}

.scroll {
    overflow: scroll;
}

.linkerd-primary {
    background-color: #001443 !important;
}

.sidenav {
    border: none;

    li > a.btn {
        margin: 20px 30px 10px 30px;
    }

    .navigation-header {
        text-transform: uppercase;

        :hover {
            background-color: transparent !important;
        }

        .navigation-header-text {
            color: #969696;
        }
    }

    .right {
        margin: 0px;
    }

    .fas.material-icons {
        font-size: 25px;
    }

    .icon-k8s {
        float: left;
        height: 48px;
        margin: 0 32px 0 0;
        width: 30px;

        --background: rgba(0,0,0,0.54);
    }

    .logo {
        fill: #fff;
        height: 64px;

        img {
            height: 34px;
            margin: 15px auto;
        }
    }

    .fa-sidebar {
        display: inline-block;
        float: left;
        height: 48px;
        line-height: 48px;
        margin: 0 32px 0 0;
        width: 30px;
        color: rgba(0,0,0,0.54);
    }
}

.sidenav-main {
    position: fixed;
    z-index: 999;
    top: 0;
}

.btn-sidenav-toggle {
    position: relative;
    top: 14px;
    left: 10px;
}

nav {
    svg {
        fill: #fff;
        height: 34px;
        margin: 15px auto;
    }
}

/* Main Content */

.main {
    margin-left: 1em;
    padding-right: 1em;

    @media only screen and (min-width: 993px) {
        padding-left: 300px;
    }

    .card.empty {
        .row {
            margin-bottom: 0px;
        }
    }

    .table {
        .card-content {
            padding: 0;

            .card-title {
                padding: 24px;
                padding-bottom: 0;

                .tooltip {
                    font-size: 1rem;
                    margin-top: 1.09333rem;
                    margin-left: 0.5rem;
                }
            }

            th {
                color: #9e9e9e;
                font-size: 1rem;
                font-weight: 300;
            }

            th.enabled {
                &:hover {
                    color: #000000;
                }

                &.active {
                    color: #000000;
                }
            }

            tr {
                &.expand-row {
                    background-color: #fafafa;
                }

                .resource {
                    width: 423px;
                }

                .path {
                    width: 381px;
                }

                .expand-icon {
                    width: 5%;
                }

                td:hover {
                    cursor: pointer;
                }

                td:first-child, th:first-child {
                    padding-left: 24px;
                }

                td:last-child,  th:last-child {
                    padding-right: 24px;
                }

                .success {
                    font-size: 0.75rem;
                }

                .grafana-logo {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}

.table-description {
    .title {
        font-weight: 400;
        font-size: 1.25rem;

        .tooltip {
            font-size: 1rem;
            margin-left: 0rem;
            margin-top: 0.3rem;
        }
    }

    .row {
        margin-bottom: 0px;
    }
}

.resources {
    $icon-color: rgba(0,0,0,0.5);

    .collection-item {
        padding-left: 20px !important;
    }

    .icon-k8s, span.icon-fa {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 1rem;
    }

    .icon-k8s {
        float: left;
        --background: rgba(0,0,0,0.5);
    }

    .icon-fa {
        display: inline-block;
        color: $icon-color;
    }

    .indent {
        margin-left: 2.5rem;
    }
}

.section {
    .tooltip {
        margin: 2rem 0 0.912rem 0.5rem;
        font-size: 1.5rem;
    }
}
