{{ define "main" }}
<h2>emoji</h2>

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <h5 class="card-title">
                    Inbound
                </h5>
                <div class="row">
                    <div class="col s12">
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th colspan="3"></th>
                                    <th colspan="3" class="center-align ">Latency</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Resource</th>
                                    <th class="center-align">Success</th>
                                    <th class="center-align">RPS</th>
                                    <th class="center-align">P50</th>
                                    <th class="center-align">P95</th>
                                    <th class="center-align">P99</th>
                                    <th class="center-align">Grafana</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range .Params.inbound }}
                                <tr>
                                    <td>
                                        <a href="#!">
                                            {{ .name }}
                                        </a>
                                    </td>
                                    <td class="center-align">{{ .success }}</td>
                                    <td class="center-align">{{ .rps }}</td>
                                    <td class="center-align">{{ .p50 }}</td>
                                    <td class="center-align">{{ .p95 }}</td>
                                    <td class="center-align">{{ .p99 }}</td>
                                    <td class="center-align">{{ partial "grafana.html" }}</td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
