{{ define "main" }}
<div class="row">
    <div class="col s12">
        <h4>{{ .Params.name }}</h4>
    </div>
</div>
<div>
    <div class="col s12 right">
        <a class="btn-flat light-blue-text" href="#inbound">Inbound</a>
        <a class="btn-flat light-blue-text" href="#outbound">Outbound</a>
        <a class="btn-flat light-blue-text">Pods</a>
        <a class="btn-flat light-blue-text">TCP</a>
        <a class="btn-flat light-blue-text">Edges</a>
    </div>
</div>

<div class="row">
    <div class="col s12 scroll octopus">
        <img src="https://via.placeholder.com/974x460.png?text=octopus">
    </div>
</div>

{{ range .Params.live }}
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <h5 class="left">{{ .name }}</h5>
                    <i
                        class="far fa-question-circle tooltip tooltipped grey-text"
                        data-position="right"
                        data-tooltip="{{ .tooltip }}">
                    </i>
                    <h5 class="right"><i class="material-icons">filter_list</i></h5>
                </div>

                {{ partial "live-table.html" .rows }}
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ range .Params.golden }}
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <h5 class="left">{{ .name }}</h5>
                    <i
                        class="far fa-question-circle tooltip tooltipped grey-text"
                        data-position="right"
                        data-tooltip="{{ .tooltip }}">
                    </i>
                    <h5 class="right"><i class="material-icons">filter_list</i></h5>
                </div>

                {{ partial "golden-table.html" .rows }}
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}
