<div class="row">
    <div class="col s12">
        <table class="highlight">
            <thead>
                <tr>
                    <th class="active resource">
                        Resource
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align">
                        Secured
                    </th>
                    <th class="left-align">
                        Proto
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align">
                        Conn
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align">
                        Read
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align">
                        Write
                        <i class="fas fa-arrow-up"></i>
                    </th>

                </tr>
            </thead>
            <tbody>
                {{ if eq . nil }}
                <tr class="row">
                    <td colspan="8" class="center-align">
                        <h5>&#x1F634; No data</h5>
                    </td>
                </tr>
                {{ end }}
                {{ range .}}
                <tr>
                    <td class="resource truncate resources">
                        {{ partial "resource-type.html" . }}
                    </td>
                    <td class="left-align">
                        {{ if .secured }}
                        <i class="far fa-check-circle green-text"></i>
                        {{ else }}
                        <i class="fas fa-ban red-text"></i>
                        {{ end }}
                    </td>
                    <td class="left-align">
                        {{ .protocol }}
                    </td>
                    <td class="left-align">{{ .connections }}</td>
                    <td class="left-align">{{ .read }}</td>
                    <td class="left-align">{{ .write }}</td>

                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
