<div class="row">
    <div class="col s12">
        <table class="highlight">
            <thead>
                <tr>
                    <th class="active resource">
                        Resource
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align">
                        Success
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align">
                        RPS
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align">
                        P50
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align">
                        P95
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align">
                        P99
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align"></th>
                </tr>
            </thead>
            <tbody>
                {{ if eq . nil }}
                <tr class="row">
                    <td colspan="8" class="center-align">
                        <h5>&#x1F634; No data</h5>
                    </td>
                </tr>
                {{ end }}
                {{ range . }}
                <tr>
                    <td class="resource truncate resources">
                        {{ partial "resource-type.html" . }}
                    </td>
                    <td class="left-align">
                        {{ if eq .success 100 }}
                        <i class="fas fa-circle green-text success"></i>
                        {{ else if ge .success 90 }}
                        <i class="fas fa-circle orange-text success"></i>
                        {{ else }}
                        <i class="fas fa-circle red-text success"></i>
                        {{ end }}
                        {{ .success }}%
                    </td>
                    <td class="left-align">{{ .rps }}</td>
                    <td class="left-align">{{ .p50 }}</td>
                    <td class="left-align">{{ .p95 }}</td>
                    <td class="left-align">{{ .p99 }}</td>
                    <td class="left-align">{{ partial "grafana.html" }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
