<div class="row">
    <div class="col s12">
        <table class="highlight">
            <thead>
                <tr class="row">
                    <th class="expand-icon"></th>
                    <th class="left-align path">
                        Path
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align">
                        Success
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align active">
                        Count
                        <i class="fas fa-arrow-down"></i>
                    </th>
                    <th class="left-align">
                        Best
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align">
                        Worst
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align">
                        Last
                        <i class="fas fa-arrow-up"></i>
                    </th>
                    <th class="left-align"></th>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                {{ partial "live-row.html" . }}
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
