<!-- <header class="page-topbar">
    <div class="navbar navbar-fixed nav-collapsible">
        <nav class="navbar-main navbar-color nav-collapsible navbar-dark no-shadow linkerd-primary">
            <div class="nav-wrapper">
                <div class="col">
                    {{ range .Params.breadcrumb }}
                    <a class="breadcrumb"><h5>{{ . }}</h5></a>
                    {{ end }}
                    <ul class="navbar-list col">
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header> -->

<nav class="z-depth-0 linkerd-primary hide-on-large-only">
    <div class="nav-wrapper z-depth-0">
        <div class="col s12">
            <div class="logo center-align">
                {{ partial "logo.html" }}
            </div>
        </div>
    </div>
</nav>
