{{ define "main" }}
<div class="card card-default row">
    <div class="card-content">
        <h4 class="card-title">HTTP Metrics</h4>
        <table>
            <thead>
                <tr role="row">
                    <th class="sorting_asc">
                        Namespace
                    </th>
                    <th class="sorting">
                        Meshed
                    </th>
                    <th class="sorting">
                        Success Rate
                    </th>
                    </th>
                    <th class="sorting">
                        RPS
                    </th>
                    <th class="sorting">
                        P50 Latency
                    </th>
                    <th class="sorting">
                        P95 Latency
                    </th>
                    <th class="sorting">
                        P99 Latency
                    </th>
                    <th class="sorting">
                        Grafana
                    </th>
                </thead>
            <tbody>

            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>
{{ end }}
